<div style="height:100%;background-color: rgba(223, 230, 221, 0.7)" class="text-dark p-5">
  <h2>
    Häufig gestellte Fragen (FAQ)
  </h2>
  <hr>
  <div class="accordion accordion-flush btn-outline-primary" id="accordionFlush">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Was ist der CO2-Fußabdruck eines Unternehmens?
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-parent="#accordionFlush">
        <div class="accordion-body">Der CO2-Fußabdruck eines Unternehmens misst die Menge an Kohlendioxid und anderen Treibhausgasen, die durch seine Aktivitäten, Produkte und Dienstleistungen in die Atmosphäre gelangen. Wir berechnen und veranschaulichen diese Werte, um Unternehmen bei der Verbesserung ihrer Nachhaltigkeitsstrategien zu unterstützen.</div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseOne">
          Warum sollte mein Unternehmen seinen CO2-Fußabdruck kennen?
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-parent="#accordionFlush">
        <div class="accordion-body">Das Wissen über den eigenen CO2-Fußabdruck ist der erste Schritt, um umweltbewusstes Handeln zu fördern. Die Transparenz ermöglicht es Ihnen, umweltfreundlichere Entscheidungen zu treffen, den Energieverbrauch zu optimieren und nachhaltige Veränderungen in Ihrem Unternehmen herbeizuführen.</div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseOne">
          Wie werden die CO2-Daten erhoben?
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse" data-parent="#accordionFlush">
        <div class="accordion-body">Unsere Fachleute sammeln Daten von Unternehmen und nutzen eine Kombination aus industriellen Standards und technologischen Tools, um genaue CO2-Fußabdruckdaten zu generieren. Wir arbeiten eng mit Unternehmen zusammen, um eine möglichst umfassende Datenerfassung zu gewährleisten.</div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseOne">
          Welche Auswirkungen hat die Veröffentlichung meiner CO2-Daten?
        </button>
      </h2>
      <div id="flush-collapseFive" class="accordion-collapse collapse" data-parent="#accordionFlush">
        <div class="accordion-body">Die Veröffentlichung Ihrer CO2-Fußabdruckdaten zeigt Ihr Engagement für Transparenz und Nachhaltigkeit. Es kann das Vertrauen Ihrer Kunden stärken, Ihr Unternehmen von Mitbewerbern abheben und zu positiven Veränderungen in der Branche beitragen.</div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseOne">
          Kann mein Unternehmen seinen CO2-Fußabdruck reduzieren?
        </button>
      </h2>
      <div id="flush-collapseSix" class="accordion-collapse collapse" data-parent="#accordionFlush">
        <div class="accordion-body">Ja, definitiv! Unsere Daten und Berichte geben Ihnen Einblick in Bereiche, in denen Optimierungen möglich sind. Wir bieten Beratung und Empfehlungen, um Ihnen dabei zu helfen, den CO2-Fußabdruck zu verringern und umweltfreundlichere Geschäftspraktiken zu entwickeln.</div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseOne">
          Sind die Daten sicher?
        </button>
      </h2>
      <div id="flush-collapseSeven" class="accordion-collapse collapse" data-parent="#accordionFlush">
        <div class="accordion-body">Ja, Datenschutz und Sicherheit haben für uns höchste Priorität. Alle von uns gesammelten und verwendeten Daten werden vertraulich behandelt und gemäß den geltenden Datenschutzrichtlinien geschützt.</div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseOne">
          Kann mein Unternehmen anonyme Daten bereitstellen?
        </button>
      </h2>
      <div id="flush-collapseEight" class="accordion-collapse collapse" data-parent="#accordionFlush">
        <div class="accordion-body">Wir verstehen, dass Datenschutz wichtig ist. Wir bieten die Möglichkeit, anonymisierte Daten bereitzustellen, während wir dennoch aussagekräftige Einblicke in den CO2-Fußabdruck Ihres Unternehmens gewährleisten.</div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseOne">
          Welchen Mehrwert bietet die Visualisierung der Daten?
        </button>
      </h2>
      <div id="flush-collapseNine" class="accordion-collapse collapse" data-parent="#accordionFlush">
        <div class="accordion-body">Unsere Visualisierungen machen komplexe Daten verständlich und zugänglich. Sie helfen Ihnen, Trends zu erkennen, Potenziale zu identifizieren und die Ergebnisse Ihrer Nachhaltigkeitsinitiativen zu kommunizieren.</div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseOne">
          Können auch kleinere Unternehmen von Ihren Dienstleistungen profitieren?
        </button>
      </h2>
      <div id="flush-collapseTen" class="accordion-collapse collapse" data-parent="#accordionFlush">
        <div class="accordion-body">Auf jeden Fall! Wir glauben, dass jede Initiative zur CO2-Reduzierung wichtig ist. Unsere Dienstleistungen sind so gestaltet, dass sie Unternehmen aller Größenordnungen dabei unterstützen, nachhaltiger zu agieren.</div>
      </div>
    </div>

  </div>
</div>
