<footer class="text-center text-dark" style="background-color: #dfe6dd">
    <div class="container">
      <section>
        <div class="row text-center d-flex justify-content-center pt-5">
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/impressum" class="text-dark">Impressum</a>
            </h6>
          </div>
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/datenschutz" class="text-dark">Datenschutz</a>
            </h6>
          </div>
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/karriere" class="text-dark">Karriere</a>
            </h6>
          </div>
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/agb" class="text-dark">AGB</a>
            </h6>
          </div>
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/spenden" class="text-dark">Spenden</a>
            </h6>
          </div>
        </div>
      </section>
      <hr />
      <section>
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <p>
              "Jeder Schritt, den wir setzen, hinterlässt einen Abdruck auf unserem Planeten. Lass uns sicherstellen, dass unsere Fußspuren aus Hoffnung, Verantwortung und nachhaltiger Veränderung bestehen, während wir den Weg zu einer grüneren Zukunft gestalten."
            </p>
          </div>
        </div>
      </section>
    </div>
    <div
      class="text-center p-3"
      style="background-color: #3f902a"
    >
      © 2023 Copyright:
      <a class="text-white"
      >Green Frog Footprints</a
      >
    </div>
  </footer>
