<div class="p-5" style="height:100%;background-color: rgba(223, 230, 221, 0.7)">
  <h2>
    Karriere
  </h2>
  <hr>
  <p>Aktuell gibt es folgende offene Stellen bei Green Frog Footprints:</p>
<div class="accordion accordion-flush btn-outline-primary" id="accordionFlushExample">
<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
      Angular-Developer (m/w/d)
    </button>
  </h2>
  <div id="flush-collapseOne" class="accordion-collapse collapse" data-parent="#accordionFlushExample">
    <div class="accordion-body">Wir suchen einen engagierten und erfahrenen Angular Entwickler (m/w/d), der unser dynamisches Entwicklerteam verstärken möchte. Als Angular Entwickler bei [Unternehmensname] wirst du an der Gestaltung und Umsetzung innovativer Webanwendungen auf Basis von Angular arbeiten
      <br><br>
      Deine Aufgaben:<br><br>
      Entwicklung von benutzerfreundlichen Webanwendungen mit Angular<br>
      Umsetzung von responsiven Designs und interaktiven Benutzeroberflächen<br>
      Integration von Backend-Diensten und APIs<br>
      Zusammenarbeit mit Designern, Backend-Entwicklern und anderen Teammitgliedern<br>
      Optimierung von Anwendungsperformance und -geschwindigkeit<br><br>
      Dein Profil:<br><br>
      Erfahrung in der Entwicklung von Webanwendungen mit Angular (mind. X Jahre)<br>
      Gute Kenntnisse in HTML, CSS und JavaScript<br>
      Erfahrung mit RESTful APIs und Frontend-Backend-Kommunikation<br>
      Verständnis von responsivem Design und Mobile-First-Ansatz<br>
      Teamplayer mit ausgezeichneter Kommunikationsfähigkeit<br>
      Kreativität und die Fähigkeit, innovative Lösungen zu entwickeln<br>
      Kenntnisse in TypeScript sind von Vorteil<br>
      Erfahrung mit Versionskontrollsystemen (z.B. Git)<br><br>
      Wir bieten:<br><br>

      Spannende Projekte und die Möglichkeit, innovative Webanwendungen mitzugestalten<br>
      Ein motiviertes und kollaboratives Arbeitsumfeld<br>
      Raum für persönliche und fachliche Weiterentwicklung<br>
      Flexible Arbeitszeiten und die Möglichkeit zum Homeoffice<br>
      Wettbewerbsfähiges Gehaltspaket<br>
      Wenn du leidenschaftlich in der Angular-Entwicklung bist und gerne Teil eines agilen Teams sein möchtest, freuen wir uns auf deine Bewerbung. Bitte sende deinen Lebenslauf, ein aussagekräftiges Anschreiben und Referenzen an info@greenfrogfootprints.com.
      <br><br>

      </div>
</div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseOne">
        Auszubildende/r Kauffrau/mann für Digitalisierungsmanagement (m/w/d)
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-parent="#accordionFlushExample">
      <div class="accordion-body">Wir suchen motivierte und zukunftsorientierte Schulabgängerinnen und Schulabgänger, die eine Ausbildung als Kauffrau/Kaufmann für Digitalisierungsmanagement beginnen möchten. Bei [Unternehmensname] bieten wir eine spannende und praxisnahe Ausbildung, die dich auf die Herausforderungen der digitalen Arbeitswelt vorbereitet.
        <br><br>
        Deine Aufgaben:<br><br>

        Unterstützung bei der Entwicklung und Umsetzung von Digitalisierungsstrategien<br>
        Analyse von Geschäftsprozessen und Identifizierung von Optimierungspotenzialen<br>
        Einführung und Verwaltung von digitalen Tools und Anwendungen<br>
        Koordination und Steuerung von Projekten im Bereich Digitalisierung<br>
        Schulung von Mitarbeitenden im Umgang mit digitalen Technologien<br>
        Datenanalyse und Erstellung von Berichten zur Effizienzsteigerung<br><br>
        Dein Profil:<br><br>

        Abitur oder mittlere Reife mit guten Noten in Mathematik und Informatik<br>
        Interesse an digitalen Technologien und Prozessen<br>
        Analytisches Denkvermögen und strukturierte Arbeitsweise<br>
        Kommunikationsstärke und Teamfähigkeit<br>
        Neugierde und Bereitschaft zur kontinuierlichen Weiterbildung<br>
        Gute Deutsch- und Englischkenntnisse<br>
        Erste Erfahrungen im Umgang mit Office-Software sind von Vorteil<br><br>
        Wir bieten:<br><br>

        Eine abwechslungsreiche und praxisnahe Ausbildung in einem zukunftsorientierten Bereich<br>
        Ein motiviertes und erfahrenes Team, das dich begleitet und unterstützt<br>
        Spannende Projekte und die Möglichkeit, deine Ideen einzubringen<br>
        Ein modernes Arbeitsumfeld mit flexiblen Arbeitszeiten<br>
        Attraktive Vergütung und Sozialleistungen<br>
        Wenn du Freude an der digitalen Welt hast, analytisch denkst und gerne im Team arbeitest, freuen wir uns auf deine Bewerbung. Sende uns deinen Lebenslauf, ein Anschreiben und relevante Zeugnisse an info@greenfrogfootprints.com.<br>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseOne">
        Werksstudent Geologie (m/w/d)
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" data-parent="#accordionFlushExample">
      <div class="accordion-body">Wir suchen einen engagierten Werkstudenten (m/w/d), der Interesse an geologischen Fragestellungen hat und unser Team im Bereich Geologie unterstützen möchte. Als Werkstudent bei [Unternehmensname] wirst du praktische Erfahrungen im geologischen Umfeld sammeln und aktiv an Projekten teilnehmen.
        <br><br>
        Deine Aufgaben:<br><br>

        Unterstützung bei geologischen Felduntersuchungen und Probenentnahmen<br>
        Datenerfassung und -auswertung, sowohl im Gelände als auch im Labor<br>
        Mitwirkung bei geologischen Kartierungen und Analysen<br>
        Unterstützung bei der Erstellung von geologischen Berichten<br>
        Recherchen und Literaturauswertungen zu geologischen Themen<br>
        Koordination und Zusammenarbeit mit dem geologischen Team<br><br>
        Dein Profil:<br><br>

        Immatrikulierter Student (m/w/d) der Geologie oder eines verwandten Studiengangs<br>
        Grundkenntnisse in geologischen Methoden und Prozessen<br>
        Interesse an Geländearbeit und praktischer geologischer Forschung<br>
        Sorgfältige Arbeitsweise und analytisches Denkvermögen<br>
        Gute Kommunikationsfähigkeiten und Teamgeist<br>
        Sicherer Umgang mit gängiger MS-Office-Software<br>
        Gute Deutsch- und Englischkenntnisse<br><br>
        Wir bieten:<br><br>

        Praktische Erfahrungen und Einblicke in die geologische Forschung und Arbeit<br>
        Flexibel gestaltbare Arbeitszeiten, die sich mit deinem Studium vereinbaren lassen<br>
        Möglichkeiten zur persönlichen und fachlichen Weiterentwicklung<br>
        Ein freundliches und kollegiales Arbeitsumfeld in einem interdisziplinären Team<br>
        Vergütung als Werkstudent und gegebenenfalls Fahrtkostenerstattung<br>
        Wenn du Leidenschaft für die Geologie mitbringst und praktische Erfahrungen sammeln möchtest, freuen wir uns auf deine Bewerbung. Sende uns deinen Lebenslauf, ein Anschreiben und relevante Zeugnisse an [Kontaktinformationen].<br>
      </div>
    </div>
  </div>

</div>
</div>
</div>
