<div class="p-5" style="height:100%;background-color: rgba(223, 230, 221, 0.7)">
<h2>
  Datenschutzerklärung für Green Frog Footprints
</h2>
<hr>
Wir bei Green Frog Footprints nehmen den Schutz Ihrer persönlichen Daten ernst. In dieser Datenschutzerklärung erläutern wir, wie wir personenbezogene Daten erfassen, verwenden, speichern und schützen. Durch die Nutzung unserer Webseite und Dienstleistungen erklären Sie sich mit den hier beschriebenen Datenschutzpraktiken einverstanden.
<br><br>
<b>Verantwortliche Stelle</b><br><br>
Die verantwortliche Stelle für die Verarbeitung Ihrer Daten ist Green Frog Footprints, [Adresse], [Kontaktinformationen]. Bei Fragen zum Datenschutz können Sie sich an [Kontaktinformationen] wenden.
<br><br>
<b>Erhebung und Verwendung von Daten</b><br><br>
Wir erfassen und verwenden personenbezogene Daten, um unsere Dienstleistungen bereitzustellen und zu verbessern. Dies kann die Erfassung von Kontaktinformationen, Unternehmensdaten und anderen relevanten Informationen umfassen.
<br><br>
<b>Zweck der Datenverarbeitung</b><br><br>
Wir verwenden Ihre Daten, um unsere Dienstleistungen zu erbringen, mit Ihnen zu kommunizieren und relevante Informationen bereitzustellen. Ihre Daten werden nur für die angegebenen Zwecke verwendet.
<br><br>
<b>Weitergabe von Daten</b><br><br>
Wir geben Ihre Daten nicht ohne Ihre Zustimmung an Dritte weiter, es sei denn, dies ist zur Erfüllung unserer Dienstleistungen erforderlich oder gesetzlich vorgeschrieben.
<br><br>
<b>Datensicherheit</b><br><br>
Wir treffen angemessene technische und organisatorische Maßnahmen, um die Sicherheit Ihrer Daten zu gewährleisten und unbefugten Zugriff zu verhindern.
<br><br>
<b>Cookies und Tracking-Technologien</b><br><br>
Unsere Webseite verwendet Cookies und ähnliche Tracking-Technologien, um die Nutzung der Webseite zu analysieren und zu verbessern. Sie können die Verwendung von Cookies in Ihren Browsereinstellungen steuern.
<br><br>
<b>Ihre Rechte</b><br><br>
Sie haben das Recht, Auskunft über die von uns gespeicherten Daten zu erhalten, Daten berichtigen oder löschen zu lassen sowie der Verarbeitung Ihrer Daten zu widersprechen. Bitte kontaktieren Sie uns für weitere Informationen.
<br><br>
<b>Änderungen der Datenschutzerklärung</b><br><br>
Wir behalten uns das Recht vor, diese Datenschutzerklärung jederzeit zu ändern. Aktualisierte Versionen werden auf unserer Webseite veröffentlicht.
<br><br>
Bitte lesen Sie diese Datenschutzerklärung sorgfältig durch und kontaktieren Sie uns bei Fragen oder Anliegen zum Datenschutz. Durch die Nutzung unserer Dienstleistungen stimmen Sie dieser Datenschutzerklärung zu. Stand: 29.08.2023
</div>
