<div style="height:100%;background-color: rgba(223, 230, 221, 0.7)">
  <div class="p-5">
    <h2>Start</h2>
    <hr>
    <h4>Willkommen bei Green Frog Footprints!</h4><br>
    <p>Bei uns geht es um Nachhaltigkeit und Transparenz. Als Vorreiter im Bereich der CO2-Fußabdruck-Analyse arbeiten wir daran, eine grünere Zukunft zu gestalten. Unsere Mission ist es, Unternehmen dabei zu unterstützen, ihren ökologischen Fußabdruck zu verstehen und zu reduzieren, während wir gemeinsam die Auswirkungen auf unseren Planeten minimieren.
      <div class="row">
    <div class="image-container p-5 col">
      <img src="assets/building_1.jpg" width="300" height="300" id="b1">
      <label for="b1">Erstes Firmengebäude in Lohnsfeld, Rheinland-Pfalz</label>
    </div>
    <div class="image-container p-5 col">
      <img src="assets/building_2.jpg" width="300" height="300" id="b2">
      <label for="b1">Aktueller Hauptsitz in Kaiserslautern, Rheinland-Pfalz</label>
    </div>
      </div>
      <br><br>
    <p>Auf unserer Startseite findest du einen Überblick über unsere Arbeit und wie wir die Welt zu einem nachhaltigeren Ort machen möchten:</p>
    <br><br>
    <div class="row justify-content-around">
      <div class="card col-4 p-1 m-2" style="width: 18rem;">
        <h5 class="card-header">CO2-Fußabdruck-Daten</h5>
        <div class="card-body">
          <p class="card-text">Wir sammeln und analysieren umfassende CO2-Fußabdruck-Daten von Unternehmen verschiedenster Branchen. Von der Produktion bis zur Lieferkette, wir verfolgen jede Spur, um genaue und aussagekräftige Daten zu liefern.</p>
        </div>
      </div>
      <div class="card col-4 p-1 m-2" style="width: 18rem;">
        <h5 class="card-header">Interaktive Visualisierungen</h5>
        <div class="card-body">
          <p class="card-text">Tauche ein in unsere interaktiven Visualisierungen, die die CO2-Emissionen auf verständliche Weise darstellen. Unsere Grafiken und Diagramme machen es leicht, die Auswirkungen bestimmter Geschäftsprozesse zu erkennen und Bereiche für Verbesserungen zu identifizieren.</p>
        </div>
      </div>
      <div class="card col-4 p-1 m-2" style="width: 18rem;">
        <h5 class="card-header">Best Practices und Lösungen</h5>
        <div class="card-body">
          <p class="card-text">Entdecke bewährte Praktiken und innovative Lösungen, die Unternehmen helfen, ihren ökologischen Fußabdruck zu verringern. Unsere Ressourcen bieten Einblicke in nachhaltige Technologien, Materialien und Strategien.</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-around">
      <div class="card col-6 p-1 m-2" style="width: 18rem;">
        <h5 class="card-header">Engagement für die Umwelt</h5>
        <div class="card-body">
          <p class="card-text">Bei Green Frog Footprints sind wir davon überzeugt, dass jedes Unternehmen eine Rolle bei der Erhaltung unseres Planeten spielt. Wir bieten Schulungen, Workshops und Beratungsdienste an, um Unternehmen bei der Umsetzung umweltfreundlicher Praktiken zu unterstützen.</p>
        </div>
      </div>
      <div class="card col-6 p-1 m-2" style="width: 18rem;">
        <h5 class="card-header">Gemeinschaft und Wandel</h5>
        <div class="card-body">
          <p class="card-text">Erfahre mehr über unsere Partnerschaften und Initiativen zur Förderung eines nachhaltigen Wandels. Wir laden dich ein, Teil unserer engagierten Gemeinschaft zu werden und gemeinsam auf eine grünere Zukunft hinzuarbeiten.</p>
        </div>
      </div>
    </div>
    <br><br>
    Wir sind stolz darauf, unseren Beitrag zur Nachhaltigkeit zu leisten und Unternehmen auf ihrem Weg zu einem reduzierten CO2-Fußabdruck zu begleiten. Zusammen gestalten wir eine Welt, in der jeder Schritt zählt. Willkommen bei Green Frog Footprints – für einen grünen und nachhaltigen Planeten!

  </div>
</div>
