<div class="p-5" style="height:100%;background-color: rgba(223, 230, 221, 0.7)">
<h2>
  Allgemeine Geschäftsbedingungen (AGB)
</h2>
<hr>

  <b>Geltungsbereich</b><br><br>
  Diese Allgemeinen Geschäftsbedingungen (AGB) gelten für alle Geschäftsbeziehungen zwischen Green Frog Footprints (im Folgenden "wir", "uns" oder "Green Frog Footprints") und unseren Kunden (im Folgenden "Kunde" oder "Sie"). Mit der Nutzung unserer Dienstleistungen oder dem Abschluss eines Vertrags mit uns akzeptieren Sie diese AGB.
  <b>Dienstleistungen</b>
  Wir bieten CO2-Fußabdruck-Analyse-Dienstleistungen für Unternehmen an, um die Umweltauswirkungen ihrer Aktivitäten zu bewerten und zu reduzieren. Die genauen Leistungen werden in separaten Vereinbarungen oder Angeboten festgelegt.
<br><br>
  <b>Datenschutz</b><br><br>
  Wir behandeln Ihre Daten vertraulich und gemäß den geltenden Datenschutzbestimmungen. Ihre Daten werden nur für die vereinbarten Dienstleistungen verwendet und nicht an Dritte weitergegeben, es sei denn, dies ist zur Erbringung unserer Dienstleistungen erforderlich oder gesetzlich vorgeschrieben.
<br><br>
  <b>Haftungsausschluss</b><br><br>
  Wir übernehmen keine Haftung für die Genauigkeit, Vollständigkeit oder Aktualität der bereitgestellten CO2-Fußabdruck-Daten. Die Nutzung der Daten erfolgt auf eigenes Risiko des Kunden. Jegliche Haftung für direkte oder indirekte Schäden, die durch die Nutzung unserer Dienstleistungen entstehen, ist ausgeschlossen.
<br><br>
  <b>Preise und Zahlungsbedingungen</b><br><br>
  Die Preise für unsere Dienstleistungen werden in separaten Angeboten oder Vereinbarungen festgelegt. Rechnungen sind innerhalb der angegebenen Frist ohne Abzug zu begleichen.
<br><br>
  <b>Vertragslaufzeit und Kündigung</b><br><br>
  Die Vertragslaufzeit ergibt sich aus den individuellen Vereinbarungen. Eine ordentliche Kündigung bedarf der Schriftform und richtet sich nach den vertraglichen Vereinbarungen.
<br><br>
  <b>Änderungen der AGB</b><br><br>
  Wir behalten uns das Recht vor, diese AGB jederzeit zu ändern. Die geänderten AGB werden auf unserer Webseite veröffentlicht und gelten ab dem Zeitpunkt der Veröffentlichung.
<br><br>
  <b>Anwendbares Recht und Gerichtsstand</b><br><br>
  Diese AGB unterliegen dem Recht der Bundesrepublik Deutschland. Gerichtsstand für Streitigkeiten ist der Sitz von Green Frog Footprints.
<br><br>
  Bitte lesen Sie diese AGB sorgfältig durch und kontaktieren Sie uns bei Fragen oder Unklarheiten. Durch die Nutzung unserer Dienstleistungen erklären Sie sich mit diesen AGB einverstanden.
</div>
