<div class="p-5" style="height:100%;background-color: rgba(223, 230, 221, 0.7)">
<h2>
  Impressum
</h2>
<hr>
Angaben gemäß § 5 TMG:
<br><br>
Green Frog Footprints GmbH <br>
Am Betzenberg 1<br>
67655 Kaiserslautern<br>
<br><br>
Vertreten durch:<br>
Max Mustermann (Geschäftsführer)<br>
<br><br>
Kontakt:<br>
Telefon: 01234 567890<br>
E-Mail: info@greenfrogfootprints.com<br>
<br><br>
Registereintrag:<br>
Registergericht: Amtsgericht Kaiserslautern<br>
Registernummer: HRB 12345<br>
<br><br>
Umsatzsteuer-ID:<br>
Umsatzsteuer-Identifikationsnummer gemäß §27a Umsatzsteuergesetz: DE123456789<br>
<br><br>
Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:<br>
Max Mustermann<br>
Am Betzenberg 1<br>
67655 Kaiserslautern<br>
<br><br>
Haftungsausschluss:<br>
Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.<br>
<br><br>
Bildnachweise:<br>
Die verwendeten Bilder stammen von [Bildquelle] und [Bildquelle].<br>
<br><br>
Bitte beachten Sie, dass diese Angaben nur beispielhaft sind. Je nach rechtlichen Anforderungen und individuellen Gegebenheiten können weitere Informationen erforderlich sein. Es wird empfohlen, sich bei rechtlichen Fragen von einem Anwalt oder Experten beraten zu lassen.<br>
</div>
