<div class="p-5" style="height:100vh;background-color: rgba(223, 230, 221, 0.7)">
  <h2>
    Spenden
  </h2>
  <hr>
  <div class="row justify-content-center">
    <div class="col-4">
      <input style="height:5rem" type="text" class="form-control" id="inputVorname" placeholder="Gewünschten Betrag in Euro eingeben">
    </div>
    <button class="btn col-2 text-white" style=";background-color: #3f902a;height:5rem">SPENDEN</button>
  </div>
  <hr>
  Liebe Unterstützerinnen und Unterstützer,

  <br><br>Wir möchten euch heute erzählen, warum eure Spenden für Green Frog Footprints einen bedeutenden Beitrag zur Schaffung einer nachhaltigeren Zukunft leisten können. Unsere Mission ist es, den CO2-Fußabdruck von Unternehmen zu reduzieren und Bewusstsein für Umweltfragen zu schaffen. Aber ohne eure Hilfe können wir unsere Ziele nicht erreichen. Hier sind einige Gründe, warum eure Spenden für Green Frog Footprints sinnvoll sind:

  <br><br>Förderung von Nachhaltigkeit:<br><br> Eure Spenden ermöglichen es uns, unsere Dienstleistungen auszubauen und noch mehr Unternehmen dabei zu unterstützen, umweltfreundlichere Entscheidungen zu treffen. Ihr tragt dazu bei, die Welt zu einem besseren Ort für kommende Generationen zu machen.

  <br><br>Forschung und Innovation:<br><br> Wir investieren in Forschung und Entwicklung, um innovative Lösungen für die Reduzierung von CO2-Emissionen zu finden. Eure Spenden ermöglichen es uns, neue Technologien und Ansätze zu erforschen, die einen echten Einfluss auf die Umwelt haben können.

  <br><br>Bildung und Bewusstsein:<br><br> Ein großer Teil unserer Arbeit besteht darin, Bewusstsein für Umweltthemen zu schaffen. Eure Spenden unterstützen Bildungsprogramme, Workshops und Informationskampagnen, die Unternehmen und die Öffentlichkeit über nachhaltiges Handeln informieren.

  <br><br>Positive Veränderung bewirken: <br><br>Eure Spenden sind ein direkter Beitrag zur Bekämpfung des Klimawandels. Ihr helft uns dabei, Unternehmen zu ermutigen, ihre CO2-Emissionen zu reduzieren, Ressourcen effizienter zu nutzen und umweltfreundliche Praktiken zu übernehmen.

  <br><br>Gemeinschaft und Zusammenarbeit:<br><br> Indem ihr für Green Frog Footprints spendet, werdet ihr Teil einer Gemeinschaft von Menschen, die sich für eine bessere Zukunft einsetzen. Gemeinsam können wir größere Veränderungen bewirken und eine nachhaltige Entwicklung fördern.

  <br><br>Wir sind dankbar für jede Spende, die uns unterstützt, unsere Mission voranzubringen. Eure großzügigen Beiträge machen einen erheblichen Unterschied und motivieren uns, weiterhin hart an der Schaffung einer umweltfreundlichen und nachhaltigen Welt zu arbeiten.

  <br><br>Danke für eure Unterstützung!
</div>
